body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

main {
  padding: 20px;
  padding-bottom: 60px;
}

.btn-primary {
  padding: 10px 18px;
  background: #ff9900;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
