.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: #d0021b;
  margin-bottom: 10px;
}

.product-card button {
  width: 100%;
  padding: 8px;
  background: #232f3e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.product-card button:hover {
  background: #37475a;
}

/* new */
.hamburger {
  font-size: 26px;
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px; /* hidden by default */
  width: 250px;
  height: 100%;
  background: #232f3e;
  color: white;
  padding-top: 60px;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
}

.side-menu a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
}

.side-menu a:hover {
  background: #131921;
}
